<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}的个人站点</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/{{ blog.theme }}">
    {#{{ blog.theme }}取出来后会直接链接到.css上#}
    <script src="/static/js/jquery-3.4.1.js"></script>

    {% block mycss  %}

    {% endblock %}
    <style>
        .bottom_article span{
            margin-right: 20px;
        }
    </style>
</head>

<body>
<div class="head">
    {{ blog.site_name }}
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                我的标签
            </div>
            <div class="panel-body">
                {% for tag in tag_ret %}
                    <p><a href="/{{ user.username }}/tag/{{ tag.2 }}">{{ tag.0 }}({{ tag.1 }})</a></p>
                {% endfor %}

            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">随笔分类</h3>
            </div>
            <div class="panel-body">
                {% for category in category_ret %}
                    <p><a href="/{{ user.username }}/category/{{ category.2 }}">{{ category.0 }}({{ category.1 }})</a></p>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">随笔档案</h3>
            </div>
            <div class="panel-body">
                {% for year in year_ret %}
                    <p><a href="/{{ user.username }}/archive/{{ year.0|date:"Y-m" }}">{{ year.0|date:"Y年m月" }}({{ year.1 }})</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% block content %}

        {% endblock %}
    </div>
</div>



</body>
</html>
